
#homeScreen{
    display: flex;
    justify-content: center;
}

.home-message-container{
    background-color: #eccea5;
    opacity: .95;
    width: 85%;
    margin-top: 50px;
    height: 30rem;
}

.home-heading{
    color: #267566;
    text-align: center;
    margin-top: 2rem;
}
.home-hr{
    width: 75%;
    margin: 1rem auto;
}

/* TABLET SIZING */
@media(min-width: 700px){

}
  

/* DESKTOP SIZING */
@media(min-width: 1280px){
    .home-message-container{
        width: 80%;
        height: 80%;
    }
    .home-recipe-display{
        display: grid;
        grid-template-columns: 2fr 1.5fr;
        grid-template-rows: auto;
    }
    .home-card{
        background-color: antiquewhite;
        border-radius: 6px;
        margin: 10px 20px;
    }
    .random-recipe-img{
        width: 10rem;
    }

    /* CATEGORY SECTION */
    .category-container{
        display: flex;
        justify-content: center;
        gap: 10rem;
        align-items: center;
    }

    .cuisineType-container{
        border: 1px solid #267566;
        padding: 15px;
        background-color: #555555;
        border-radius: 50%;
        text-align: center;
        text-decoration: none;
        margin-top: 10px;
    }
    .italian{
        padding: 15px 20px;
    }
    .cuisine-title{
        color: aliceblue;
        font-size: 12px;
    }
    .category-icon{
        color: #267566;
        font-size: 1.5rem;
    }
}