
#homeScreen{
    display: flex;
    justify-content: center;
}

.home-message-container{
    background-color: #f1e8dc;
    opacity: .95;
    width: auto;
    padding: 1rem;
    border-radius: 5px;
    margin-top: 25px;
}

.home-heading{
    color: #267566;
    text-align: center;
    margin-bottom: 15px;
}
.home-hr{
    width: 75%;
    margin: 1rem auto;
}

.category-container{
    display: flex;
    justify-content: center;
    gap: 7rem;
    align-items: center;
}

.cuisineType-container{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 1px solid #267566;
    padding: 12px;
    background-color: #555555;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    margin-top: 5px;
}
.cuisineType-container:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.italian{
    padding: 12px 20px;
}
.cuisine-title{
    color: aliceblue;
    font-size: 10px;
}
.category-icon{
    color: #267566;
    font-size: 1.5rem;
}

/* TABLET SIZING */
@media(min-width: 700px){

}
  

/* DESKTOP SIZING */
@media(min-width: 1280px){
    .home-message-container{
        width: 70%;
        height: 80%;
        padding: 2rem 5rem;
    }
    .home-recipe-display{
        display: grid;
        grid-template-columns: 2fr 2fr;
        gap: 0 2rem;
    }
    .random-recipe-img{
        width: 10rem;
    }

    /* CATEGORY SECTION */
    .category-container{
        display: flex;
        justify-content: center;
        gap: 7rem;
        align-items: center;
    }

    .cuisineType-container{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border: 1px solid #267566;
        padding: 12px;
        background-color: #555555;
        border-radius: 50%;
        text-align: center;
        text-decoration: none;
        margin-top: 5px;
    }
    .italian{
        padding: 12px 20px;
    }
    .cuisine-title{
        color: aliceblue;
        font-size: 10px;
    }
    .category-icon{
        color: #267566;
        font-size: 1.5rem;
    }
}