@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Reem+Kufi+Ink&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Montserrat', sans-serif; */
}
body {
  background-color: #f3f5ee;
  /* overflow-y: hidden; */

}
#homeScreen{
  background-image: url(/src/components/Images/breakfast.jpg);
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
}
.btn{
  cursor: pointer;
}
/* HEADER */
.navContainer{
  background-color: #789fa7;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.searchInput{
  padding: 8px 12px;
  width: 180px;
  margin-right: 8px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.searchLink{
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  font-size: 1.1rem;
  color: #134418;
  padding: 6px 9px;
  border: 1px solid #1C6758;
  background-color: #f1cb7d;
  border-radius: 4px;
  text-decoration: none;
}
.searchLink:hover{
  background-color: #fcd891;
}

.logo{
  font-size: 30px;
  margin-right: 10px;
  color: #134434;
}


/* RECIPE DISPLAY */
/* .cardContainer{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 330px;
  height: auto;
  margin-bottom: 20px;
  border-radius: 6px;
  background-color: #ffe4ae;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 10px;
}
.ingredients{
  list-style-type: none;
  cursor: default;
  padding: 1rem;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  background-color: #ffe4ae;
  height: fit-content;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear; 
  transition: visibility 0s, opacity 0.5s linear;
  font-size: 15px;
}
.ingredientsContainer:hover div{
  height: 90%;
  visibility: visible;
  opacity: .9;
}
.ingredientList{
  list-style-type: none;
  font-size: 14px;
}
.cardImages{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: auto;
  width: 275px;
  margin-top: 15px;
  border-radius: 6px;
}
.cardInfoContainer{
  cursor: default;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-left: 30px;
}
.fullRecipeBtn{
  z-index: 1;
  width: 9rem;
  margin-right: 30px;
  font-size: .9rem;
  text-decoration: none;
  padding: 5px;
  border-radius: 6px;
  border: 1px solid #ecb141;
  background-color: #ffffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.fullRecipeBtn a{
  text-decoration: none;
  color: #1C6758;
  padding: 3px;
}
.fullRecipeBtn:hover{
  background-color: #ffd788;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
} */

/* TABLET SIZING */
@media(min-width: 700px){
  /* .cardContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 18px;
  }
  .cardInfoContainer{
    align-items: flex-start;
    margin-left: 3.5rem;
  }
  .navContainer{
    display: flex;
    justify-content: space-between;
  }
  .searchInput{
    font-size: 20px;
    width: 300px;
    margin-left: 12px;
    margin-right: 10px;
  }
  .recipeInfo{
    font-size: 18px;
  }
  .logo{
    font-size: 2.6rem;
    margin-right: 1.5rem;
  }
  .submitSearchBtn{
    font-size: 18px;
  }
  .cardInfo{
    font-size: 20px;
  }
  .fullRecipeBtn{
    font-size: 18px;
  }
  .card{
    height: auto;
  } */
}

/* DESKTOP SIZING */
@media(min-width: 1280px){
  /* .fullRecipeBtn{
    margin-left: 15%;
  }
  .cardContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
  }
  .searchInput{
    font-size: 18px;
    width: 300px;
    margin-left: 35px;
  }
  .card{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    width: 85%;
    height: auto;
    margin: 10px auto;
  }
  .cardInfo{
    width: 100%;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-size: 15px;
  }
  .cardImages{
    width: 300px;
    height: auto;
  }
  .recipeInfo{
    width: 80%;
    text-align: center;
  } */
}
