@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Reem+Kufi+Ink&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Montserrat', sans-serif; */
}
body {
  background-color: #f3f5ee;
}
.btn{
  cursor: pointer;
}
/* HEADER */
.navContainer{
  margin-bottom: 20px;
  background-color: #78a77b;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.searchInput{
  padding: 5px 8px;
  width: 14rem;
  margin-right: 1rem;
  border: 1px solid #ffffff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.submitSearchBtn{
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  font-size: 13px;
  padding: 4px 9px;
  border: 1px solid #1C6758;
  background-color: #f1cb7d;
  border-radius: 4px;
}
.submitSearchBtn:hover{
  background-color: #fcd891;
}

/* RECIPE DISPLAY */
.cardContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 330px;
  height: auto;
  margin-bottom: 20px;
  border-radius: 6px;
  background-color: #ffe4ae;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 10px;
}
.ingredients{
  cursor: default;
  min-height: 270px;
  padding: 1rem;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ffe4ae;
  height: fit-content;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear; 
  transition: visibility 0s, opacity 0.5s linear;
}
.ingredientsContainer:hover div{
  visibility: visible;
  opacity: .9;
}
.cardImages{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: auto;
  width: 275px;
  margin-top: 15px;
  border-radius: 6px;
}
.cardInfoContainer{
  cursor: default;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}
.fullRecipeBtn{
  font-size: .9rem;
  text-decoration: none;
  padding: 4px;
  border-radius: 6px;
  border: 1px solid #ecb141;
  background-color: #ffffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.fullRecipeBtn a{
  text-decoration: none;
  color: #1C6758;
  padding: 3px;
}
.fullRecipeBtn:hover{
  background-color: #ffd788;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
